body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: verdana;
}

main {
    flex: 1 0 auto;
}

img.logo{
    width: 60px;
    margin-top: 0.25%;
    margin-left: 10px;
    margin-right: 10px;
}
div#navsize{
    height: 70px;
}
