body{
	background-image: URL("../img/calculo.jpeg");
	color: white;
	text-align: center;
	font-family: arial;
	margin: 10%;
	overflow: hidden;
}
input#dados{
	border: none;
	background-color: blue;
	padding: 15px 20px;
	color: white;
}
input#env{
	border: none;
	background-color: red;
	padding: 7px 14px;
	color: white;
}
.calculadora{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border: solid yellow;
	
}
::-webkit-input-placeholder {
   color: white;
}
h2{
	color: yellow; 
}
div.bkgblk{
	background-color: black;
}